:root{
--primary-color: #006d77;
--secondary-color: #83c5be;
--accent1: #edf6f9;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
background-color: var(--primary-color);
}
.hamburge{
display: grid;
grid-template-columns: 1fr 3fr .7fr;
justify-content: center;
align-items: center;
}
.hamburge span{
font-weight: bolder;
}
.toggle::before{
content: "\2630";
font-size: large;
font-weight: bolder;
}
.show::before{
content: "\00D7";
font-size:xx-large;
font-weight: lighter;
}
.hide{
display: none;
}